@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

$icomoon: 'icomoon';

@font-face {
    font-family: $icomoon;
    src: url('/fonts/icomoon/icomoon.ttf') format('truetype')
}


* {
    font-family: 'Poppins', sans-serif;
    color: $teal;
}